:root {
    --main-color: #f5b733;
    --secondary-color: #d0128a;
    --border-color: rgba(238, 176, 176, 0.5);
    --border-gradient: linear-gradient(to right, orange, pink);
    --padding: 4px 7px;
    --border-radius: 30px;
    --font-size: 9px;
}

.row5 {
    width: 100%;
    height: 30vh;
    display: flex;
    flex-direction: row;
}

.aboutus {
    flex: 1;
    margin: 40px 0 0 210px;
    display: inline-block;
    margin-left: 150px;
}

.overview {
    margin: 10px 0 0 5px;

}

#paragraphe {
    max-height: 6em;
    overflow: hidden;
}

#paragraphe.expand {
    max-height: none;
}

.readMore {
    padding: var(--padding);
    border-radius: var(--border-radius);
    background: linear-gradient(to right, var(--main-color) 5%, var(--secondary-color) 95%);
    color: white;
    cursor: pointer;
    font-size: var(--font-size);
    margin-top: 20px;
    height: 30px;
    width: 80px;
    position: absolute;
    border: var(--border-color);
}

.aboutUsImage {
    height: 230px;
    width: 170px;
    margin-left: 200px;
    position: absolute;
    z-index: 1;
    clip-path: circle(50% at center);
    margin-top: -30px;
}

.rectangle {
    width: 280px;
    height: 44px;
    background-color: transparent;
    border: 3px solid transparent;
    border-image: var(--border-gradient);
    border-image-slice: 1;
    background-clip: padding-box;
    margin: 140px 0 0 150px;
    position: relative;
    z-index: 0;
}